@import "tailwindcss";
@config "../../tailwind.config.js";
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: var(--backgoround);
  color: var(--text-color);
}

.bg-primary {
  background-color: var(--primary);
  color: var(--white);
}

.primary-button {
  background-color: var(--primary);
  color: var(--white);
}

input {
  accent-color: var(--primary) !important;
}

button {
  cursor: pointer;
}


@keyframes slideInFromRight {
  from {
    transform: translateX(100%);
    opacity: 0;
  }

  to {
    transform: translateX(0);
    opacity: 1;
  }
}

.slide-in {
  animation: slideInFromRight 0.3s ease-out forwards;
}

@keyframes slideInFromTop {
  from {
    transform: translateY(100%);
    opacity: 0;
  }

  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.slide-in-top {
  animation: slideInFromTop 0.3s ease-out forwards;
}